.App
{
  text-align: center;
}
.form
{
    width:100%;
    max-width:350px;
    padding :5px;
    margin:2rem auto;
    height:100%;
    border-radius: 5px;
    box-shadow: azure;
}
.label
{
    display: inline-block;
		text-align: right;
    float: left;
    margin-top: 1rem;
}
.togglePassword{
  position: absolute;
  top: 65%;
  right: 2rem;
  color: #666;
  z-index: 9999;
  user-select: none;
  cursor: pointer;
}
.logo
{
  width:10vh;
  height:10vh;
  float: left;
}
.logoBody
{
  height:100%;
  width:50vh;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #999999;
  color:#E9E9E9,#3B4650,#F2EEE4,#5065A8   
}
.separator::before {
  margin-right: .25em;
}
.separator::after {
  margin-left: .25em;
}
.backGround
{
  background: '#F2EEE4';
  height:'100vh';
  color:'#5065A8';
}
.opponent
{
  background-color: #007bff;
  float:left;
  margin-left: 5px;
  text-align: left;
}
.own
{
  background-color: #333333;
  float:right;
  margin-top: 1rem;
  margin-right: 5px;
  text-align: left; 
}
.msg{
  margin-top: 1rem;
  border-radius: 10px;
  padding:2vh;
  max-width: 80%;
  min-width: 50%;
  color:white;
}
.msg-textbox{
  position:fixed;
  width: 80%;
  border: 2.5px solid #17a2b8;
  border-radius: 10px;
  left:1vh;
  bottom:1vh;
  background: #17a2b8;
}
.send
{
  position:fixed;
  right:1vh;
  bottom:1vh;
  width:calc(2em + .75rem + 2px);
  height:calc(2em + .75rem + 2px);
}
.by
{
  font-size:2vh;
  color:	#C0C0C0;
}
.time
{
  float: right;
  font-size:2vh;
  color:	#C0C0C0;
}